/*****hasis*****/ 
/* #hasis(e2d79a3ca0c8814a) #css starts  */
.headere2d79a3ca0c8814a .head{ 
    color: #EF490D
}
.headere2d79a3ca0c8814a .button{
    background-color: #EF490D;
    color: white;
    box-shadow: none;
    border-radius: 25px;
    padding: 8px 25px;
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .active>.nav-link{
    color: rgba(0,0,0,.5)
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #EF490D
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .active>.nav-link:hover{
    color: #EF490D
}
/* #hasis(e2d79a3ca0c8814a) #css ends  */
/*****hasis*****/

/*****adolf*****/
/* #adolf(p3dce575962b3c369) #css starts  */
.aboutp3dce575962b3c369 .jumbotron{
    background-color: #e9ecef;
    border-radius: 20px
}
.aboutp3dce575962b3c369 .badge{
    margin-left: -5px;
    font-size: 20px;
    color: #FF663B;
    background-color: #fff
}

.aboutp3dce575962b3c369 .DescriptionHeading {
        font-size: 44px;
        color: #0C2E60
    }

.aboutp3dce575962b3c369 .DescriptionPara {
        color: #0C2E60;
        font-size: 18px
    }
    
    .aboutp3dce575962b3c369 .searchBtn{
    background-color: #EF490D;
    color: white;
    box-shadow: none;
    border-radius: 25px;
    padding: 8px 25px;
    font-weight: bold
    }
/* #adolf(p3dce575962b3c369) #css ends  */
/*****adolf*****/

/*****freya*****/
/* #freya(freyategxpfzk1ni) #css starts */

      .freyategxpfzk1ni .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #EF490D
     }

     .freyategxpfzk1ni .fdb-block h2 {
        font-size: 20px;
        font-weight: bold
     }
/* #freya(freyategxpfzk1ni) #css starts */
/*****freya*****/

/*****agun*****/
/* #agun(e50d5193e4b9f737) #css starts  */
.aboute50d5193e4b9f737 h2{
    color: #0C2E60;
    font-size: 32px;
    font-weight: 600
}

.aboute50d5193e4b9f737 li {
    background-image: url(https://i.ibb.co/VBw575Y/ok-1976099-640.png);
    color: #0C2E60
}
    .aboute50d5193e4b9f737 .margin{
    margin-left: -45px
}
.aboute50d5193e4b9f737 .searchBtn{
    background-color: #EF490D;
    color: white;
    box-shadow: none;
    border-radius: 25px;
    padding: 8px 25px;
    font-weight: bold
    }
/* #agun(e50d5193e4b9f737) #css ends  */
/*****agun*****/

/*****cade*****/
 /* #cade(af598102c9dad94e) #css starts  */
 .counteraf598102c9dad94e{
    padding: 7.5rem 0
 }
 .counteraf598102c9dad94e h2{
    font-size:32px;
    color: #EF490D
}
.counteraf598102c9dad94e h4{
    font-size: 16px;
    color: #0C2E60;
    font-weight: 600
}
/* #cade(af598102c9dad94e) #css ends  */
/*****cade*****/

/*****fila*****/
/* #fila(filafe9c6aurswl) #css starts */
.filafe9c6aurswl h1{
    color: #0C2E60;
    font-size: 32px;
    font-weight: 700
}
.filafe9c6aurswl .fdb-block .fdb-touch {
    border-top: solid 0.3125rem #EF490D
  }
  .filafe9c6aurswl h2{
    font-size: 20px;
    font-weight: bold
  }
  .filafe9c6aurswl a{
    font-weight: 600;
    color: #0C2E60
  }
/* #fila(filafe9c6aurswl) #css starts */
/*****fila*****/

/*****cjaime*****/
    /* #cjaime(calltoactioncahjtby06rt) #css starts  */
    .calltoactioncahjtby06rt h2{
    font-weight: bold;
    color: #0C2E60
    }
        .calltoactioncahjtby06rt .btn-secondary{
        border: #EF490D;
        background-color: #EF490D;
        color: white;
        box-shadow: none;
        border-radius: 25px;
        padding: 8px 25px;
        font-weight: bold
    }
    .calltoactioncahjtby06rt .lead {
        font-size: 20px
    }
    /* #cjaime(calltoactioncahjtby06rt) #css ends  */
/*****cjaime*****/

/*****teddy*****/
    /* #teddy(testimonialprz03sp248l) #css starts  */
    .testimonialprz03sp248l h1{
        font-size: 32px;
        font-weight: bold;
        color: #0C2E60;
    }
    /* #teddy(testimonialprz03sp248l) #css ends  */
/*****teddy*****/