/*****hasis*****/ 
/* #hasis(e2d79a3ca0c8814a) #css starts  */
.headere2d79a3ca0c8814a .head{ 
    color: #EF490D
}
.headere2d79a3ca0c8814a .button{
    background-color: #EF490D;
    color: white;
    box-shadow: none;
    border-radius: 25px;
    padding: 8px 25px;
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .active>.nav-link{
    color: rgba(0,0,0,.5)
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #EF490D
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .active>.nav-link:hover{
    color: #EF490D
}
/* #hasis(e2d79a3ca0c8814a) #css ends  */
/*****hasis*****/

/*****adolf*****/
/* #adolf(p3dce575962b3c369) #css starts  */
.aboutp3dce575962b3c369 .jumbotron{
    background-color: #fff;
    border-radius: 0px
}
.aboutp3dce575962b3c369 .badge{
    margin-left: -5px;
    font-size: 20px;
    color: #FF663B;
    background-color: #fff
}

.aboutp3dce575962b3c369 .DescriptionHeading {
        font-size: 44px;
        color: #0C2E60
    }

.aboutp3dce575962b3c369 .DescriptionPara {
        color: #0C2E60;
        font-size: 18px
    }
    

    .aboutp3dce575962b3c369 .searchBtn{
    background-color: #EF490D;
    color: white;
    box-shadow: none;
    border-radius: 25px;
    padding: 8px 25px;
    font-weight: bold
    }
/* #adolf(p3dce575962b3c369) #css ends  */
/*****adolf*****/